{% extends 'base.html.twig' %}

{% block title %}Hello ErrorController!{% endblock %}

{% block body %}
    <h2>Les Erreurs</h2>

    <ul>
        <li>
            <a href="{{ page_not_found }}" target="_blank">Affiche la page not found</a>
        </li>
    </ul>
{% endblock %}
