{% extends 'base.html.twig' %}

{% block title %}Hello ProviderController!{% endblock %}

{% block body %}

    <h2>Les Services</h2>

    <h3>Message du jour</h3>
    <p>{{ message }}</p>
{% endblock %}
