{% extends 'base.html.twig' %}

{% block title %}Nos Articles{% endblock %}

{% block body %}

    <div class="row">
        {% for post in posts %}
            <div class="col-4">
                <article>
                    <h2>{{ post.title }}</h2>
                    <div>
                        {{ post.content|striptags|u.truncate(15, '...') }}
                    </div>
                    <a href="{{ path('post_show', {'slug': post.slug}) }}">Lire l'article complet</a>
                </article>
            </div>
        {% endfor %}
    </div>

{% endblock %}
