{% extends 'base.html.twig' %}

{% block title %}Nos Articles{% endblock %}

{% block body %}

    <div class="row">
        {% for post in posts %}
            <div class="col-4">
                <article class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">
                            {{ post.content|striptags|u.truncate(75, '...') }}
                        </p>
                        <p class="small">Auteur: {{ post.user.username }}</p>
                        <a href="{{ path('post_show', {'slug': post.slug}) }}"
                           class="btn btn-outline-primary btn-sm">Lire l'article complet</a>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>

{% endblock %}
