{% extends 'base.html.twig' %}

{% block title %}Nos articles{% endblock %}

{% block body %}

    <h1>{{ post.title }}</h1>
    <p class="small">Article rédigé le {{ post.createdAt|date }} par {{ post.user.username }}</p>

    <div>
        {{ post.content|raw }}
    </div>

{% endblock %}
